<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="com.cognizant.springcore.MessageService">
        <property name="message" value="Hello from Spring IoC Container!"/>
    </bean>

    <bean id="employeeRepository" class="com.cognizant.springcore.EmployeeRepositoryImpl"/>

    <bean id="employeeService" class="com.cognizant.springcore.EmployeeService">
        <constructor-arg ref="employeeRepository"/>
        <constructor-arg ref="messageService"/>
    </bean>

    <bean id="employeeServiceNoMessage" class="com.cognizant.springcore.EmployeeService">
        <constructor-arg ref="employeeRepository"/>
    </bean>

    <bean id="employeeServiceSetter" class="com.cognizant.springcore.EmployeeService">
        <constructor-arg ref="employeeRepository"/>
        <property name="messageService" ref="messageService"/>
    </bean>

</beans>
